body{
    background-color: rgb(241,231,231)
}
.biko{
    height: 400px;
    width: 400px;
    float: right;
}
nav{
    margin-top: 0PX;
    padding-top: 0PX;
    background-color: grey;
}
nav li{
    font-size: 20px;
    padding: 10px;
    margin: 0px;
    display: inline-block;
    word-wrap: 100%;
}
.colum{
    float: left;
    width: 50%;
}
.mmh{
    color: black;
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: 600;
}
.one ,hi{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}
.three{
font-family: 'Times New Roman', Times, serif;
background-color: antiquewhite;
font-size: medium;
font-weight: 200;
}

.four{
    display: flex;
    display: inline-block;
}
h3.bio-header {
    font-size: 40px;
    top: -50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.five{
    font-family: italic;
    flex-wrap: wrap;
    background-color: rgb(201, 230, 230);
    
}
h3{
    font-weight: 300;
}




