*{
    border-radius: 10px;
}
body {
    margin: 40px;
    padding: 10px;
    font-size: 25px;
    background-color: aliceblue;
}

.elsa {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elsa ul li {
    padding: 32px;
}

.elsa ul li:hover{
    box-shadow: 5px 5px 5px gray;
    background-color: rgb(201, 54, 79);
    margin: 2px;
}

.elsa ul li a {
    text-decoration: none;
    color: #ddd786;
    font-weight: bold;
}
ul{
    list-style: none;
}

h3{
    font-size: 18px;
}
.elsa ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.list3{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
form input{
    border: 3px solid orange;
    display: flex;
    padding: 10px;
}

#getstarted{
    background-color: orange;
}


.image-icons {
    width:25px;
    height:25px;
}
#two ul {
    list-style: none;
    display: flex;
    
}

.merc1{
    height: 600px;
    width: 700px;
}
.car1{ 
    border: 1px solid #ccc;
    padding: 20px;
    margin: 30px;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 50px; 
    margin: 30px;
}
button{
    background-color: orange;
    border:none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
a{
    text-decoration: none;
}

#two li {
    margin: 0 9px; 
    padding: 20px;
}


.name{
    text-align: center;
}
.download{
    height: 250px;
    width: 90%;
    background-color: rgb(255, 254, 198);
    box-shadow: 5px 6px 5px gray;
    display: flex;
    justify-content: center;
    padding: 5px;
    gap:100px;
}

#downloads3{
    margin: -30px 0 -20px 150px;

}

.button-buy{
    background:orange;
    border:none;
    padding:10px 15px;
    border-radius:5px;
}
.button-rent{
    color:var(--orange);
    border:2px solid rgba(235, 173, 57, 0.973);
    background: none;
    padding:10px 15px;
    border-radius:5px;
}

.one{
    display:flex;
    justify-content: space-between;
}

.types{
    width:120px;
    height:35px;
    gap:11px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: var(--shadow);
    background-color: transparent;
}

#two ul li:first-child button{
    background-color: var(--orange);
    border:none;
}

.clients{
    text-align: center;

}

.download .txt{
    width:300px;

}

.download h1{
    font-size: larger;
}

.download .imgs{
    display:flex;
    padding:0;
    justify-content: space-between;
    align-items: center;
}



.download .first{
    height:fit-content;
}





