body{
    background-color: rgb(241,231,231)
}
nav{
    margin-top: 0PX;
    padding-top: 0PX;
    background-color: grey;
}
nav li{
    font-size: 20px;
    padding: 10px;
    margin: 0px;
    display: inline-block;
    word-wrap: 100%;
}
.colum{
    float: left;
    width: 50%;
}
.mmh{
    color: black;
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: 600;
}
.one ,hi{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}